/* tipografia */
.fira-code-light {
  font-family: "Fira Code", serif;
  font-weight: 300;
  font-style: normal;
}

.fira-code-regular {
  font-family: "Fira Code", serif;
  font-weight: 400;
  font-style: normal;
}

.fira-code-medium {
  font-family: "Fira Code", serif;
  font-weight: 500;
  font-style: normal;
}

.fira-code-semibold {
  font-family: "Fira Code", serif;
  font-weight: 600;
  font-style: normal;
}

.fira-code-bold {
  font-family: "Fira Code", serif;
  font-weight: 700;
  font-style: normal;
}

.press-start-2p {
  font-family: "Press Start 2P", serif;
  font-weight: 400;
  font-style: normal;
}

/* variavels */

:root {
  /* base */
  --color-first: #f25a70;
  --color-second: #7c5e99;
  --color-third: #fff;
  --color-fourth: #4c5b84;
  /* blacks */
  --color-black-first: #000;
  --color-black-second: #3a4042;
  --color-black-third: #828282;
  /* status */
  --color-error: #ba1f33;
  --color-warning: #ceb02a;
  --color-success: #62c370;
  --shadow-projects: 10px 10px 0px 0px;
  --shadow-solid: 5px 5px 0px 0px #000;
}

/* GERAL */
html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-family: "Fira Code";
}

section {
  padding: 3.75rem 0;
  border-bottom: 10px solid transparent;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

figure {
  margin: 0;

}

/* HEADER + NAV */
header {
  background: var(--color-second);
  box-shadow: 0px 10px 0px 0px #000;
  height: 80px;
  padding: 0.5rem 1rem;
}

header .container {
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 80px;
  height: 80px;
  aspect-ratio: 1/1;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a,
.block {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: var(--color-third);
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  text-decoration: none;
}

nav a:hover {
  color: var(--color-black-first);
}

nav a:before {
  content: "";
  aspect-ratio: 1/1;
  width: 10px;
  display: block;
  background-color: var(--color-first);
  margin-right: 8px;
}

.block {
  background: var(--color-first);
  box-shadow: var(--shadow-solid);
  padding: 0.5rem 1rem;
  display: inline-block;
  transition: transform 2s;
}

.block:hover {
  color: var(--color-third);
  background: var(--color-black-first);
  transform: scale(1.05);
}

nav a.block:focus {
  background: var(--color-third);
  color: var(--color-black-first);
}

nav a.block:before {
  display: none;
}


.banner {
  height: 48rem;
  position: relative;
  padding: 0;
  border-color: var(--color-black-first);
}

.banner:after,
.banner:before {
  content: "";
  height: 48rem;
  display: block;
  position: absolute;
  top: 0;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  filter: blur(.25rem);
}

.banner:before {
  background-image: url(img/banner1.png);
  width: 75%;
  left: 0;
  background-size: 101%;
  background-position: left center;
}

.banner:after {
  width: 25%;
  background-image: url(img/banner_2.png);
  right: 0;
  background-position: -924px 0;
}

.container-banner {
  z-index: 2;
  position: relative;
  width: 50%;
  position: absolute;
  margin: 8rem auto auto 8rem;
  top: 0;
}

.hero {
  padding: 8rem;
  height: 11.5rem;
  padding: 2.5rem;
  background: var(--color-black-second);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: var(--shadow-solid);
  flex-direction: column;
}

.container-banner h1,
.container-banner h2 {
  margin: 0;
  line-height: 1.3;
}

.container-banner h1 {
  color: var(--color-first);
  text-shadow: 4px 4px 0px #000;
  font-family: "Press Start 2P";
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.container-banner h2 {
  color: var(--color-third);
  text-shadow: 4px 4px 0px #000;
  margin-top: 2.5rem;
  font-family: "Press Start 2P";
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.bt-group {
  margin: 2rem 0 0 0;
  display: flex;
  justify-content: space-around;
}

.section_title {
  color: var(----color-third, #fff);
  text-align: center;
  font-family: "Press Start 2P";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}



.about .description,
.contact form,
.skills ul,
.projects ul {
  max-width: 74%;
  margin-left: auto;
  margin-right: auto;
}

.contact .container,
.skills ul,
.projects ul {
  list-style: none;
  gap: 3rem;
  flex-wrap: wrap;
}

/* SKILLS */
.skills ul li {
  width: 45.5%;
  display: flex;
  justify-content: space-between;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.skills {
  background: var(--color-first);
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom-color: var(--color-second);
}

.skills ul li h3 {
  color: var(--color-third);
  margin: 0 0 1rem 0;
  /* Subtitle */
  font-family: "Press Start 2P";
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.skills ul li img {
  width: 90px;
  height: 90px;
}

.skills ul li>div {
  flex-grow: 1;
  padding-left: 1rem;
}

.skills ul li .progress {
  border: 5px solid var(--color-black-first);
  background: var(--color-third);
  height: 30px;
  position: relative;
}

.skills ul li .progress span {
  position: absolute;
  text-align: center;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-second);
  height: 100%;
  color: var(--color-third);
  letter-spacing: .125rem;
}

/* PROJETOS */
.projects {
  border-bottom-color: var(--color-first);
  background: var(--color-black-first);
}

ul {
  display: flex;
  justify-content: space-between;
}

.projects ul li {
  aspect-ratio: 1/1;
  width: 280px;
  height: 280px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects ul li:nth-child(1) {
  background: var(--color-second);
  box-shadow: var(--shadow-projects) #fff;
}

.projects ul li:nth-child(2) {
  background: var(--color-fourth);
  box-shadow: var(--shadow-projects) #fff;
}

.projects ul li:nth-child(3) {
  background: var(--color-first);
  box-shadow: var(--shadow-projects) #fff;
}

.projects ul li figcaption {
  font-size: 0;
}

.projects ul li img {
  height: 210px;
  width: 210px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* SOBRE */
.about {
  background: var(--color-second);
  border-bottom-color: var(--color-black-first);
}

.about p {
  color: var(--color-third);
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 2rem;
}

/* CONTATO */
.contact {
  background: var(--color-black-second);
  border-bottom-color: var(--color-black-first);
}

.contact form {
  width: 100%;
}

label {
  color: var(--color-third);
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

input,
textarea {
  width: 100%;
  height: 50px;
  flex-shrink: 0;
  border: 5px solid var(--color-black-first);
  background: var(--color-third);
  margin: 0.5rem 0 1.5rem;
}

textarea {
  height: 318.74px;
}

button {
  color: var(--color-third);
  font-size: 1.5rem;
  text-align: center;
  width: 100%;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  height: 60px;
  flex-shrink: 0;
  background: var(--color-first);
  box-shadow: 5px 5px 0px 0px #000;
}

/* RODAPE */
footer {
  background: var(--color-black-first);
  justify-content: center;
  display: flex;
  padding: 1.5rem 0;
}

footer ul li {
  margin: 0 2rem;
}

footer img {
  aspect-ratio: 1/1;
  width: 2rem;
  height: 2rem;
}

/* SLIDE */

.slide {
  margin: 3rem auto;
  position: relative;
  display: flex;
  gap: 3rem;
  align-items: center;
  overflow: hidden;

}

.slide:after,
.slide:before {
  content: "";
  top: 48px;
  display: block;
  position: absolute;
  box-sizing: border-box;
}

.slide:before {
  width: 100%;
  border-top: 5px dashed var(--color-black-first);
}

.slide:after {
  right: 48px;
  height: 5px;
  background-color: var(--color-black-first);
  width: calc(100% - 6rem);
  left: 3rem;
}


.carousel {
  overflow: hidden;
  width: calc(100% - 16rem);
  position: relative;
  margin: 0 auto;
}

.companies {
  display: flex;
  gap: 3rem;
  align-items: center;
  transition: transform 0.5s ease-in-out;
}

.card {
  min-width: 10rem;
  flex-shrink: 0;
}

.button-arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  background-color: var(--color-first);
  border: none;
  aspect-ratio: 1/1;
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--shadow-solid);
  z-index: 10;
  font-size: 0;
}

.button-left {
  left: 10px;
}

.button-right {
  right: 10px;
}

.button-arrow:hover {
  background-color: var(--color-black-first);
}

.button-arrow:before {
  content: "";
  width: 20px;
  height: 20px;
  display: block;
  border: solid var(--color-third);
  border-width: 0 3px 3px 0;
  padding: 5px;
  position: absolute;
}

.button-right:before {
  transform: rotate(-45deg);
  right: 1.9rem;
}

.button-left:before {
  left: 1.9rem;
  transform: rotate(135deg);
}




/* CARD */
.card {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card img {
  padding: 1rem 2rem;
  width: 8rem;
  border: .5rem solid var(--color-black-first);
  object-fit: contain;
  aspect-ratio: 1 / 1;
  height: 8rem;
}

.card-impulso img,
.card-locaweb img {
  background-color: var(--color-warning);
  width: 14rem;
}

.card-caelum img {
  background-color: #f7ec16;
}

.card-collabcode img,
.card-getninjas img {
  background-color: var(--color-first);
}

.card figcaption {
  display: flex;
  flex-direction: column;
}

.card figcaption h3 {
  padding-bottom: 1rem;
  color: var(--color-first);
  text-align: center;
  font-family: "Press Start 2P";
  font-size: 2rem;
  font-weight: 400;
  display: inline-block;
  margin: 0;
}

.card figcaption:after {
  align-self: center;
  margin-bottom: -0.5rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  width: .25rem;
  content: " ";
  border-left: .25rem dotted var(--color-black-first);
}