.fira-code-light {
  font-family: "Fira Code", serif;
  font-weight: 300;
  font-style: normal;
}
.fira-code-regular {
  font-family: "Fira Code", serif;
  font-weight: 400;
  font-style: normal;
}
.fira-code-medium {
  font-family: "Fira Code", serif;
  font-weight: 500;
  font-style: normal;
}
.fira-code-semibold {
  font-family: "Fira Code", serif;
  font-weight: 600;
  font-style: normal;
}
.fira-code-bold {
  font-family: "Fira Code", serif;
  font-weight: 700;
  font-style: normal;
}
.press-start-2p{
  font-family: "Press Start 2P", serif;
  font-weight: 400;
  font-style: normal;
}
