:root {
  /* base */
  --color-first: #f25a70;
  --color-second: #7c5e99;
  --color-third: #fff;
  /* blacks */
  --color-black-first: #000;
  --color-black-second: #3a4042;
  --color-black-third: #828282;
  /* status */
  --color-error: #ba1f33;
  --color-warning: #ceb02a;
  --color-success: #62c370;
  --shadow-solid: 5px 5px 0px 0px #000;
}
